{
	admin off
	persist_config off
	auto_https off
	log {
		format json
	}
	servers {
		trusted_proxies static private_ranges 100.0.0.0/8
	}
}

:{$PORT:3000} {
	log {
		format json
	}

	respond /health 200

	root * /srv
	encode zstd gzip

	header {
		Cross-Origin-Embedder-Policy "require-corp"
		Cross-Origin-Opener-Policy "same-origin"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
	}

	try_files {path} /index.html
	file_server
}
